{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block body_classes %}home{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block before_main_container %}
<div class="carousel no-transition visible-md visible-lg">
</div>
{% endblock %}

{% block h1_classes %}hidden{% endblock %}
{% block breadcrumb_classes %}hidden{% endblock %}

{% block main %}
<h2>Conheça nosso programa:</h2>
<section class="row programme">
    <a class="btn btn-default" href="#">Direitos das Mulheres</a>
    <a class="btn btn-default" href="#">Direitos LGBT</a>
    <a class="btn btn-default" href="#">Auditoria Cidadã da Dívida</a>
    <a class="btn btn-default" href="#">Indígenas Urbanxs</a>
    <a class="btn btn-default" href="#">Direitos das Mulheres</a>
    <a class="btn btn-default" href="#">Direitos LGBT</a>
    <a class="btn btn-default" href="#">Auditoria Cidadã da Dívida</a>
    <a class="btn btn-default" href="#">Indígenas Urbanxs</a>
    <a class="btn btn-default" href="#">Direitos das Mulheres</a>
    <a class="btn btn-default" href="#">Direitos LGBT</a>
    <a class="btn btn-default" href="#">Auditoria Cidadã da Dívida</a>
    <a class="btn btn-default" href="#">Indígenas Urbanxs</a>
</section>
{% endblock %}

{% block after_main_container %}
<div class="contribute no-transition">
    <div class="container">
        <span class="visible-md visible-lg">Uma voz de luta!</span>
        <a title="Veja como contribuir" href="/contribua/" class="no-transition">Veja como contribuir</a>
    </div>
</div>
{% endblock %}
