{% extends "base.html" %}
{% load mezzanine_tags staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "mezzanine/css/magnific-popup.css" %}">
{% endblock extra_css %}

{% block meta_title %}Vídeos{% endblock %}

{% block meta_description %}{% metablock %}
Galeria de vídeos da campanha.
{% endmetablock %}{% endblock %}

{% block main %}
<div class="gallery row">
{% for video in videos %}
<div class="col-xs-4 col-sm-3 video-wrapper">
    <a class="thumbnail" rel="#video-{{ video.id }}" title="{{ video.title }}" href="{{ video.url }}">
        <img class="img-responsive" src="{{ video.thumbnail }}">
        <h2>{{ video.title }}</h2>
    </a>
</div>
{% endfor %}
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static "js/magnific-popup.js" %}"></script>
<script>
$(document).ready(function() {
    $('.gallery').magnificPopup({
        delegate: 'a',
        type: 'iframe',
        preloader: false
    });
});
</script>
{% endblock %}
